<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="LogFile" value="../../../Logs/logs.txt"/>
		<add key="Timeframe" value="1m"/>
		<add key="MaxCandles" value="300"/>
		<add key="BaseRESTBinance" value="https://api.binance.com/api/v3"/>
		<add key="BaseWSSBinance" value="wss://stream.binance.com:443/ws/"/>
		<add key="BaseRESTBitmex" value="https://www.bitmex.com/api/v1"/>
		<add key="BaseWSSBitmex" value="wss://ws.bitmex.com/realtime"/>
		<add key="Instrument" value="BTCUSDT"/>
	</appSettings>
</configuration>